.entity {
  color: #FFFFFF;
  background: #101010;
}

.entity.e-wall {
  color: #101010;
  background: #343838;
}

.entity.e-floor {
  color: #666666;
}

.entity.e-door-closed {
  background: #666666;
}

.entity.e-monster {
  color: #E97F02;
}
