{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules": false,
        "corejs": 3
      }
    ]
  ]
}
