{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [">0.25%", "IE > 9", "not op_mini all"]
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ]
}
