{
  "parser": "typescript-eslint-parser",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["typescript"],
  "rules": {
    "semi": ["error", "never"],
    "object-curly-newline": "off",
    "typescript/no-unused-vars": "error",
    "lines-between-class-members": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
