.entity {
  color: #ffffff;
  background: #101010;
}

.entity.hidden {
  display: none;
}

.entity.e-player {
  display: block !important;
}

.entity.e-wall,
.entity.e-door {
  color: #101010;
  background: #343434;
}

.entity.e-wall.visible {
  background: #888888;
}

.entity.e-floor {
  color: #666666;
}

.entity.e-floor.visible {
  color: #ffffff;
}

.entity.e-door.visible {
  color: #ffffff;
  background: #666666;
}

.entity.e-monster {
  color: #e97f02;
}

.entity.e-undergrowth {
  color: green;
}
